@page "/"

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Master1Tech</h1>
        <p class="lead">
            We specialize in deploying and integrating top-tier ERP solutions like NetSuite, Infor, Epicor, SAP, and more—tailored to businesses of all sizes, from small startups to mid-size companies to large enterprises.
        </p>
        <hr class="my-4">
        <ul style="line-height:1.8;">
            <li><b>Cloud Services</b> - We specialize in implementing and managing cloud solutions across leading platforms like AWS, Google Cloud, Microsoft Azure, and more, customized for businesses of all sizes—from startups to large enterprises.</li>
            <li>
                <b>Artificial Intelligence</b> - We specialize in delivering AI-powered services, leveraging advanced tools to build intelligent chatbots, sophisticated ML algorithms for predictive analytics, diagnostics, proficiencies.
            </li>
            <li><b>E-Commerce</b> - We specialize in transformative e-commerce solutions that elevate your online store! We specialize in implementing robust e-commerce platforms, ensuring accessibility with ADA/WCAG compliance.</li>
            <li><b>Software Development</b> - We specialize in delivering cutting-edge web software development through IT outsourcing, empowering businesses to thrive in the digital landscape with bespoke solutions tailored to their unique needs.</li>
            <li><b>IT Helpdesk</b> - We are your expert outsourcing partner for help desk solutions that empower your business to deliver exceptional customer support! We specialize in implementing leading help desk platforms like ServiceNow, Zendesk, Freshdesk, Zoho Desk, and HubSpot.</li>
        </ul>
    </div>
</div>
