@inherits LayoutComponentBase
@inject IUserService UserService

<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Master1 Tech</h1>
            <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li>
                    <NavLink href="/" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
                </li>
                <li>
                    <NavLink href="/person/1" class="nav-item nav-link">Data Entry</NavLink>
                </li>
                <li>
                    <NavLink href="/upload/1" class="nav-item nav-link">File Management</NavLink>
                </li>
                <li>
                    <NavLink href="/user/1" class="nav-item nav-link">Users</NavLink>
                </li>
                <li>
                    <NavLink href="/companies/pakistan" class="nav-item nav-link">Companies</NavLink>
                </li>
                <li>
                    <NavLink href="/swagger/index.html" class="nav-item nav-link" target="_blank">API</NavLink>
                </li>
               @*  <li class="dropdown">
                    <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Dropdown 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown 2</a></li>
                        <li><a href="#">Dropdown 3</a></li>
                        <li><a href="#">Dropdown 4</a></li>
                    </ul>
                </li> *@
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <div class="d-flex align-items-center gap-5">
            @if (LoggedIn)
            {
                <NavLink href="/user/logout" class="nav-item nav-link">Logout</NavLink>
            }
            else
            {
                <NavLink href="/user/login" class="nav-item nav-link">Login</NavLink>
            }
            <a class="btn-getstarted" href="index.html#about">Get Started</a>
        </div>
       

    </div>
</header>
@* <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Master1 Tech</a>
    <div class="navbar-nav">
       
       
        
        
        
        
    </div>
    <div class="navbar-nav ml-auto">
        @if (LoggedIn)
        {
            <NavLink href="/user/logout" class="nav-item nav-link">Logout</NavLink>
        }
        else
        {
            <NavLink href="/user/login" class="nav-item nav-link">Login</NavLink>
        }
    </div>
</nav> *@

<div class="app-container">

    <Alert />
    @Body
      
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">&copy; master1tech.com 2025</span>
        </div>
    </footer>
</div>

@code {
    public bool LoggedIn
    {
        get {return UserService.User != null;}
    }
}