.cleanlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fwbx  {
    padding: 0 46px;
}


@media (min-width: 110em) {
    .featured:not(.internal) {
        margin: 0 auto 80px !important;
    }
}

@media (min-width: 80em) {
    .box:not(.inline) {
        margin: 0 auto 30px;
    }
}

@media (min-width: 80em) {
    .featured:not(.internal) {
        margin: 0 auto 62px !important;
    }
}

.box.light {
    background: linear-gradient(180deg, #d0dfff, #e3f0fe);
}

.featured{
    margin: 0 0 45px;
}

.box {
    margin: 0 auto 20px;
    max-width: 1510px;
}

@media (min-width: 110em) {
    .box:not(.inline) .inner {
        min-height: 415px;
    }
}

@media (min-width: 80em) {
    .box:not(.inline) .inner {
        min-height: 375px;
    }
}

.inner {
    padding: 45px 0;
}

.items-center {
    align-items: center;
    display: flex;
}

.cnt {
    text-align: center;
}


.nomargin {
    margin: 0;
}
 

.font-bold {
    font-weight: 700;
}

.box:not(.inline) .section-title div {
    font-size: 48px;
    margin: 0 0 2.5rem;
}

.btn-solid {
    background: var(--accent-color);
    font-size: 1rem;
    height: 3.4375rem;
    line-height: 3.1875rem;
    min-width: 10.3125rem;
    padding: 0 2.5rem;
    color:white;
}

.box:not(.inline) .btn {
    margin: 0 0 40px;
}


.ftr-wgts__links, .ftr-wgts__title {
    font-size: 1rem;
    display: block;
    margin: 1.125rem 0 0;
    line-height: 1.1875;
}

.ftr-wgts li:not(:last-child) {
    margin-bottom: .9375rem;
}

.ftr-wgts__links a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
}

.ftr-copy {
    padding: 4.6875rem 0;
}